//= require bootstrap/base
//= require app/navbar
//= require app/tocify


@import 'bootstrap/shared';

body {
  position: relative;
  padding-top: $navbar-height + 20px;
}


footer {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px #eee solid;
  color: #ccc;
}
