@import 'bootstrap/shared';

#toc-column {
  @include clearfix();
}

#toc {
  $border: 1px solid #eeeeee;

  margin-top: 20px;
  border: $border;
  border-radius: 4px;

  width: 300px;

  a {
    color: #000000;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-top: $border;

    .tocify-item {
      padding: 10px 15px;

      a {
        font-weight: bold;
        font-size: 16px;
      }

      &.tocify-focus a {
        color: $bi-blue;
      }
    }

    &#tocify-header0 {
      border: none;
    }

    .tocify-subheader {
      border-top: $border;
      padding: 6px 15px;
      background: lighten(#ddd, 10%);

      .tocify-item {
        border: none;
        padding: 4px 0px 4px 10px;

        a {
          font-weight: normal;
          font-size: 14px;
        }
      }
    }
  }
}
